version: "3.8"

services:
  item-integration-service:
    build:
      context: .
      # target: final
    image: "rsp777/item-integration-service:0.0.1-SNAPSHOT"
    ports:
      - "8087:8087"
    deploy:
      mode: replicated
      replicas: 2
      endpoint_mode: vip
    volumes:
      - item-integration-service:/item-integration-service/data
    networks:
      - integration_network

    environment:
      # Example environment variable
      SPRING_PROFILES_ACTIVE: prod
      # Custom environment variables for your application properties
      #CONFIG_SERVER_URL: http://config-server:8888
      DATABASE_URL: "jdbc:mysql://mysql-server.tailc9a488.ts.net:3306/item-integration"
      DATABASE_USERNAME: ravi
      DATABASE_PASSWORD: ravi
      JAVA_OPTS: "-Xms512m -Xmx1024m"
      # Application properties as environment variables
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://localhost:8761/eureka"
      EUREKA_CLIENT_REGISTER_WITH_EUREKA: "false"
      EUREKA_CLIENT_FETCH_REGISTRY: "false"
      EUREKA_CLIENT_HEALTHCHECK_ENABLED: "false"
      SERVER_SERVLET_CONTEXT_PATH: /item-integration-service
      # SERVER_ADDRESS: "0.0.0.0"  # Uncomment if needed
      SERVER_PORT: 8087
      SPRING_APPLICATION_NAME: item-integration-service
      #SPRING_DATASOURCE_URL: ${DATABASE_URL}
      #SPRING_DATASOURCE_USERNAME: ${DATABASE_USERNAME}
      #SPRING_DATASOURCE_PASSWORD: ${DATABASE_PASSWORD}
      SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE: 10
      SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE: 30000
      SPRING_JPA_SHOW_SQL: "false"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      # SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: "org.hibernate.dialect.MySQLDialect"  # Uncomment if needed
      LOGGING_LEVEL_ORG_HIBERNATE_SQL: "OFF"
      # HIBERNATE_ID_NEW_GENERATOR_MAPPINGS: "true"  # Uncomment if needed
      SPRING_JACKSON_SERIALIZATION_WRITE_DATES_AS_TIMESTAMPS: "false"
      SPRING_JACKSON_DATE_FORMAT: "yyyy-MM-dd'T'HH:mm:ssZ"
      SPRING_MAIN_ALLOW_CIRCULAR_REFERENCES: "true"
      SPRING_MAIN_ALLOW_BEAN_DEFINITION_OVERRIDING: "true"
      LOGGING_LEVEL_ORG_HIBERNATE_TYPE_DESCRIPTOR_SQL_BASICBINDER: TRACE
      WMS_CATEGORY_URL: "http://localhost:8085/category/by-name/{category}"
      WMS_ITEM_URL: "http://localhost:8085/items/list/by-name/{itemName}"
      NEW_ITEM_DATA_INCOMING: NEW.ITEM.DATA.INCOMING
      WMS_ITEM_DATA_INCOMING: WMS.ITEM.DATA.COMING
      MANAGEMENT_ENDPOINT_HEALTH_ENABLED: "true"
      MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "*"
      MANAGEMENT_ENDPOINT_SHUTDOWN_ENABLED: "true"
      MANAGEMENT_INFO_ENV_ENABLED: "true"
      MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS: never
      SPRING_CONFIG_DEBUG: "false"
      CONNECTION_TIMEOUT: 20
      RESPONSE_TIMEOUT: 20
      CONNECTION_RESPONSE_TIMEOUT: 20
      SPRING_KAFKA_BOOTSTRAP_SERVERS: "192.168.29.52:29092,192.168.29.52:29093,192.168.29.52:29094"
      SPRING_KAFKA_CONSUMER_GROUP_ID: consumer_group4
      SPRING_KAFKA_CONSUMER_AUTO_OFFSET_RESET: earliest
      SPRING_KAFKA_CONSUMER_ENABLE_AUTO_COMMIT: "false"
      SPRING_KAFKA_LISTENER_ACK_MODE: manual
      SPRING_KAFKA_CONSUMER_KEY_DESERIALIZER: org.apache.kafka.common.serialization.StringDeserializer
      SPRING_KAFKA_CONSUMER_VALUE_DESERIALIZER: org.apache.kafka.common.serialization.StringDeserializer
      SPRING_KAFKA_PRODUCER_KEY_SERIALIZER: org.apache.kafka.common.serialization.StringSerializer
      SPRING_KAFKA_PRODUCER_VALUE_SERIALIZER: org.apache.kafka.common.serialization.StringSerializer

    restart: always
    healthcheck:
      test:
        - "CMD"
        - "wget"
        - "--no-verbose"
        - "--tries=1"
        - "--spider"
        - "http://localhost:8087/item-integration-service/actuator/health"
      interval: 30s
      timeout: 5s
      retries: 3
#  nginx:
#   image: nginx:alpine
#   ports:
#    - "8084:80"  # Single host port
#   volumes:
#    - ./nginx.conf:/etc/nginx/nginx.conf:ro  # Mount a custom config
#  depends_on:
#  - asn-integration-service
volumes:
  item-integration-service:
networks:
  integration_network:
